<form id="compendium-explorer" class="sheet compendium-explorer__container" autocomplete="off">
    <section class="compendium-explorer__filters">
        {{#each categories as |category|}}
            <h3 class="form-header">
                {{#if category.icon}}<i class="fas fa-{{category.icon}} fa-fw"></i> {{/if}}{{localize category.label}}
            </h3>
            {{#each category.filters as |filter|}}
                <div class="form-group">
                    <label class="resource-label">{{localize filter.label}}</label>
                    <input type="hidden" name="$type__{{filter.field}}" value="{{filter.type}}" />
                    <div class="form-fields">
                    {{#if (lookup @root.lookupFields filter.field)}}
                        <select name="{{filter.field}}">
                            <option value=""></option>
                            {{#each (lookup @root.lookupFields filter.field) as |choice key|}}
                            <option value="{{choice}}">{{choice}}</option>
                            {{/each}}
                        </select>
                    {{else if filter.choices}}
                        <select name="{{filter.field}}">
                            <option value=""></option>
                            {{#each filter.choices as |choice key|}}
                            <option value="{{choice.value}}">{{localize choice.label}}</option>
                            {{/each}}
                        </select>
                    {{else ifEquals filter.type "number"}}
                    <select name="$modifier__{{filter.field}}">
                        <option value="=">=</option>
                        <option value=">=">>=</option>
                        <option value="<="><=</option>
                        <option value=">">></option>
                        <option value="<"><</option>
                        <option value="<>"><></option>
                    </select>
                    <input
                        type="text"
                        name="{{filter.field}}"
                    />
                    {{else ifEquals filter.type "check"}}
                    <input
                        type="checkbox"
                        name="{{filter.field}}"
                    />
                    {{else}}
                    <input
                        type="text"
                        name="{{filter.field}}"
                    />
                    {{/if}}
                    </div>
                </div>
            {{/each}}
        {{/each}}
     </section>
    <footer class="sheet-footer compendium-explorer__actions">
        <button class="compendium-explorer__clear" type="button">
            Clear
        </button>
        <button class="compendium-explorer__apply" type="button">
            Apply
        </button>
    </footer>
</form>
