.compendium-filter__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-right: 10px;
    border-right: 1px solid #b5b3a4;
    margin-right: 10px;
}

.compendium-filter__actions {
    display: flex;
    flex-direction: row;
}

.window-app .window-content.compendium-filter__window-content {
    flex-direction: row;
}
